<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">

    
</head>

<body>
    
    <div class="myDiv">
    <h1> Weather </h1>
    <p> get your weather here</p>
    
    <form>
        <input placeholder="Location">
        <button>search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
  <div class="myDiv">
      <img src="/img/sun.jpg">
  </div>


<script src="/js/app.js"> </script>
    
</body>

</html>